{% extends "toplevel/header.html" %}

{% block content %}
{% include "toplevel/navstack/navstack_learning.html" %}
	<h2>Hey, I'm a programer.</h2>
	<h4>These topics are what I have learned so far.&#160&#160&#160&#160&#160
	<span class="label label-info">Good</span>
	<span class="label label-success">Knows</span>
	<span class="label label-warning">Forgetten</span>

	<br><br><h5>Programing Skills</h5> 
	<a href="#"><button type="button" class="btn btn-info">Java</button></a>
	<a href="#"><button type="button" class="btn btn-info">C++</button></a>
	<a href="#"><button type="button" class="btn btn-info">Python</button></a>
	<a href="#"><button type="button" class="btn btn-success">Haskell</button></a>
	<a href="#"><button type="button" class="btn btn-success">Swift</button></a>
	<a href="#"><button type="button" class="btn btn-success">dJango</button></a>
	<a href="#"><button type="button" class="btn btn-success">HTML</button></a>
	<a href="#"><button type="button" class="btn btn-warning">Verilog</button></a>
	<a href="#"><button type="button" class="btn btn-warning">Assembly</button></a>
	<a href="#"><button type="button" class="btn btn-default">PHP</button></a>
	<a href="#"><button type="button" class="btn btn-default">Javascript</button></a>

	<br><br><h5>IT Skills</h5>
	<a href="#"><button type="button" class="btn btn-success">Computer Security</button></a>
	<a href="#"><button type="button" class="btn btn-info">Documents</button></a>
	<a href="#"><button type="button" class="btn btn-info">IT Supporting</button></a>
	<a href="#"><button type="button" class="btn btn-success">Software Performance Analysis</button></a>
	<a href="#"><button type="button" class="btn btn-success">Adobe Photoshop</button></a>
	<a href="#"><button type="button" class="btn btn-success">Adobe Muse</button></a>
	<a href="#"><button type="button" class="btn btn-default">Adobe Illustrator</button></a>
	<a href="#"><button type="button" class="btn btn-default">Natural Language Processing</button></a>
	<a href="#"><button type="button" class="btn btn-default">Software Developing Cycle</button></a>
	<a href="#"><button type="button" class="btn btn-default">Computer Networking</button></a>
	<a href="#"><button type="button" class="btn btn-default">Big Data Analysis</button></a>
	<a href="#"><button type="button" class="btn btn-default">Data Mining</button></a>

	<br><br><h5>Working in Environment</h5>
	<a href="#"><button type="button" class="btn btn-info">macOS</button></a>
	<a href="#"><button type="button" class="btn btn-success">Windows</button></a>
	<a href="#"><button type="button" class="btn btn-success">Linux</button></a>
	<a href="#"><button type="button" class="btn btn-success">iOS</button></a>
	<a href="#"><button type="button" class="btn btn-default">Andriod</button></a>

	<br><br><h5>General Skills</h5>
	<a href="#"><button type="button" class="btn btn-success">English</button></a>
	<a href="#"><button type="button" class="btn btn-info">Reporting</button></a>
	<a href="#"><button type="button" class="btn btn-info">Working in Group</button></a>
	<a href="#"><button type="button" class="btn btn-info">Stress Handling</button></a>
	<a href="#"><button type="button" class="btn btn-info">Piority Management</button></a>
	
{% endblock %}